ipython == 5.4.1

awscli == 1.16.212
boto3 == 1.9.202
botocore == 1.12.202
PyYAML == 3.13
pytz == 2019.2
munch == 2.3.2
redis == 3.3.5
pymemcache == 2.2.1

tqdm
neo4j-driver
numpy
nose
coveralls
requests